html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  overflow-x: hidden;
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}
header {
  width: 100%;
  height: 5rem;
  background-color: #009aa8;
}
header .logo-container {
  position: absolute;
  left: calc(50% - 65px);
  padding: 15px 0 15px 0;
}
header .logo-container img {
  width: 130px;
}
header .hamburger-menu {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
header .hamburger-menu .menu-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .hamburger-menu .menu-bar:first-child {
  top: 0;
}
header .hamburger-menu .menu-bar:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}
header .hamburger-menu .menu-bar:last-child {
  bottom: 0;
}
header .hamburger-menu.open .menu-bar:first-child {
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}
header .hamburger-menu.open .menu-bar:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header .hamburger-menu.open .menu-bar:last-child {
  top: 50%;
  margin-top: -2px;
  transform: rotate(-135deg);
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}
.yeti-mobile-menu {
  height: calc(100vh - 5rem);
  overflow-y: hidden;
}
.yeti-mobile-menu .mobile-menu-left {
  float: left;
  width: 50%;
  max-width: 384px;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 1px;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type {
  width: 100%;
  height: calc((100vh / 3) - 1.333rem);
  cursor: pointer;
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:first-child {
  background: url("../img/2017-asr.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type div {
  position: relative;
  top: 80%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  opacity: 1;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:hover div {
  opacity: 0;
}
.yeti-mobile-menu .mobile-menu-right {
  float: left;
  width: 50%;
  max-width: 384px;
  opacity: 0;
  margin-top: 100%;
  background-color: #fff;
  border-left-color: darkgrey;
  border-left-style: solid;
  border-left-width: 1px;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu.open .mobile-menu-left {
  height: calc(100vh - 5rem);
}
.yeti-mobile-menu.open .mobile-menu-right {
  margin-top: 5rem;
  opacity: 1;
}
