html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  overflow-x: hidden;
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}
header {
  width: 100%;
  height: 5rem;
  background-color: #009aa8;
}
header .logo-container {
  position: absolute;
  left: calc(50% - 65px);
  padding: 15px 0 15px 0;
}
header .logo-container img {
  width: 130px;
}
header .hamburger-menu {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
header .hamburger-menu .menu-bar {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .hamburger-menu .menu-bar:first-child {
  top: 0;
}
header .hamburger-menu .menu-bar:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}
header .hamburger-menu .menu-bar:last-child {
  bottom: 0;
}
header .hamburger-menu.open .menu-bar:first-child {
  top: 50%;
  margin-top: -2px;
  transform: rotate(135deg);
}
header .hamburger-menu.open .menu-bar:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header .hamburger-menu.open .menu-bar:last-child {
  top: 50%;
  margin-top: -2px;
  transform: rotate(-135deg);
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}
.main-hero-banner {
  position: absolute;
  top: 5rem;
  background: url("../img/main-hero.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.main-hero-banner .text-container {
  position: relative;
  top: 60vh;
  color: #fff;
  margin: 4rem;
}
.main-hero-banner .text-container h1 {
  font-size: 5rem;
  font-weight: 500;
}
.main-hero-banner .text-container p {
  font-size: 1.7rem;
  margin-top: -2rem;
}
.main-hero-banner .text-container .cta-btn {
  width: 10rem;
  height: 5rem;
  text-align: center;
  padding: 1.8rem 2.5rem 1.8rem 2.5rem;
  background-color: #009aa8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main-hero-banner .text-container .cta-btn:hover {
  background-color: #f6dc2c;
}

.total-rewards-triangle-base {
  display: none;
  position: relative;
  bottom: -73px;
  width: 0;
  height: 0;
  border-style: solid;
}
.yeti-mobile-menu {
  position: relative;
  height: calc(100vh - 5rem);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 2;
  transition: opacity 1s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-left {
  float: left;
  width: 50%;
  max-width: 384px;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  border-right-color: darkgrey;
  border-right-style: solid;
  border-right-width: 1px;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type {
  position: relative;
  width: 100%;
  height: calc((100vh / 3 - 3rem));
  cursor: pointer;
  border-bottom-color: darkgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.73, 1);
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:first-child {
  background: url("../img/2017-asr.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:nth-child(2) {
  background: url("../img/2017-asr.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:last-child {
  background: url("../img/2017-asr.jpg") no-repeat;
  background-position: center;
  background-size: contain;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type .bike-name-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  right: -100%;
  background-color: #009aa8;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type .bike-name {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:hover {
  transform: scale(0.9);
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:hover .bike-name-overlay {
  right: 0;
}
.yeti-mobile-menu .mobile-menu-left .bike-types .bike-type:hover .bike-name {
  width: 100%;
  color: #fff;
  opacity: 1;
}
.yeti-mobile-menu .mobile-menu-right {
  float: left;
  width: 50%;
  max-width: 384px;
  opacity: 0;
  height: calc(100vh - 9rem);
  margin-top: 100%;
  background-color: #fff;
  border-left-color: darkgrey;
  border-left-style: solid;
  border-left-width: 1px;
  box-shadow: 17px 0px 16px -5px #575457;
  transition: all 0.4s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-right .main-nav-links-container ul {
  list-style: none;
  margin: 0;
  padding: 1px 0 0 0;
}
.yeti-mobile-menu .mobile-menu-right .main-nav-links-container ul li {
  width: 100%;
  height: 3rem;
  padding: 2rem 2rem 4rem 2rem;
  background-color: #fff;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 2rem;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.yeti-mobile-menu .mobile-menu-right .main-nav-links-container ul li:hover {
  background-color: #009aa8;
  color: #fff;
}
.yeti-mobile-menu .mobile-menu-right .social-link-bar {
  position: absolute;
  bottom: 7rem;
  margin-left: 2rem;
}
.yeti-mobile-menu .mobile-menu-right .social-link-bar div {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.yeti-mobile-menu .mobile-menu-right .social-link-bar span {
  font-size: 2rem;
  padding: 10px;
}
.yeti-mobile-menu .find-a-retailer {
  position: absolute;
  width: 100%;
  height: 4rem;
  bottom: 0;
  margin-left: 100%;
  padding-top: 1rem;
  background-color: #009aa8;
  border-top-color: #fff;
  border-top-style: solid;
  border-top-width: 1px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out 0.3s;
}
.yeti-mobile-menu.open {
  opacity: 1;
}
.yeti-mobile-menu.open .mobile-menu-left {
  height: calc(100vh - 9rem);
}
.yeti-mobile-menu.open .mobile-menu-right {
  margin-top: 0;
  opacity: 1;
}
.yeti-mobile-menu.open .find-a-retailer {
  margin-left: 0;
}
