@import 'utils/utils.less'; 

header {
	width: 100%;
	height: 5rem;
	background-color: #009aa8;
	
	.logo-container {
		position: absolute;
		left: calc(~"50% - 65px");
		padding: 15px 0 15px 0;
		
		img {			
			width: 130px;
		}
	}
	
	.hamburger-menu {
		position: relative;
		width: 3rem;
		height: 2.5rem;
		top: 1rem;
		left: 1rem;
		
		
		.menu-bar {
			position: absolute;
			width: 100%;
			height: 3px;
			background-color: #fff;

			&:first-child {
				top: 0;
			}

			&:nth-child(2) {
				top: 50%;
				width: 80%;
				margin-top: -2px;
			}

			&:last-child {
				bottom: 0;
			}	
		}		
	}
}