@import 'utils/utils.less'; 

.yeti-mobile-menu {
    position: relative;
    height: calc(~"100vh - 5rem");
    overflow: hidden;
	background-color: rgba(0,0,0,0.6);
    opacity: 0;
    z-index: 2;
	transition: opacity 1s ease-in-out;
	
    .mobile-menu-left {
        float: left;
        width: 50%;
        max-width: 384px;
        height: 0;
        overflow: hidden;
        background-color: #fff;
		border-right-color: darkgrey;
		border-right-style: solid;
		border-right-width: 1px;		
        transition: all .4s ease-in-out;
		
		.bike-types {            
			.bike-type {
                position: relative;
				width: 100%;
				height: calc(~"(100vh / 3 - 3rem)");
				cursor: pointer;				
				border-bottom-color: darkgrey;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				transition: all .4s cubic-bezier(.17,.67,.73,1);
				
                &:first-child {
                    background: url("../img/2017-asr.jpg") no-repeat;
                    background-position: center;
                    background-size: contain;
                }
				
				&:nth-child(2) {
                    background: url("../img/2017-asr.jpg") no-repeat;
                    background-position: center;
                    background-size: contain;
                }
				
				&:last-child {
                    background: url("../img/2017-asr.jpg") no-repeat;
                    background-position: center;
                    background-size: contain;
                }
                
                .bike-name-overlay {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 4rem;
					right: -100%;
					background-color: #009aa8;
					opacity: 1;
					transition: all .4s ease-in-out;
				}
				
				.bike-name {
					position: absolute;
					width: 100%;
                    bottom: 10px;
					text-align: center;
					font-size: 2rem;
					font-weight: bolder;					
				}
				
				&:hover{
					transform: scale(0.9);
					
					.bike-name-overlay {
						right: 0;
					}
					
					.bike-name {
						width: 100%;						
						color: #fff;
						opacity: 1;						
					}
					
					&:last-child {						
						
					}
				}
			}
		}
    }
    
    .mobile-menu-right {
        float: left;
        width: 50%;
        max-width: 384px;
        opacity: 0;
		height: calc(~"100vh - 9rem");
        margin-top: 100%;        
        background-color: #fff;
		border-left-color: darkgrey;
		border-left-style: solid;
		border-left-width: 1px;
		box-shadow: 17px 0px 16px -5px rgba(87,84,87,1);
        transition: all .4s ease-in-out;
		
		.main-nav-links-container {
			ul {
				list-style: none;
				margin: 0;
				padding: 1px 0 0 0;				
				
				li {
					width: 100%;
					height: 3rem;
					padding: 2rem 2rem 4rem 2rem;
					background-color: #fff;
					border-bottom-color: #fff;
					border-bottom-style: solid;
					border-bottom-width: 1px;
					font-size: 2rem;
					color: #000;
					transition: all .3s ease-in-out;
					
					&:hover {
						background-color: #009aa8;
						color: #fff;
					}
				}
			}
		}
        
        .social-link-bar {
            position: absolute;
            bottom: 7rem;
            margin-left: 2rem;
            
            div {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            
            span {
                font-size: 2rem;
                padding: 10px;
            }
        }
    }
	
	.find-a-retailer {
		position: absolute;
		width: 100%;
		height: 4rem;
        bottom: 0;
		margin-left: 100%;
		padding-top: 1rem;
		background-color: #009aa8;
		border-top-color: #fff;
		border-top-style: solid;
		border-top-width: 1px;
		color: #fff;
		text-align: center;
        font-size: 1.6rem;
		transition: all .3s ease-in-out .3s;
	}
}

.yeti-mobile-menu.open {
    opacity: 1;
}

.yeti-mobile-menu.open .mobile-menu-left {
    height: calc(~"100vh - 9rem");
}

.yeti-mobile-menu.open .mobile-menu-right {
    margin-top: 0;
    opacity: 1;
}

.yeti-mobile-menu.open .find-a-retailer {
    margin-left: 0;
}